*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans, Sans-serif";
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: aquamarine;
    background-image: url('./images/thailand-1400x788-1.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}
.container {
    max-width: 850px;
    width: 100%;
    margin: 0 10px;
    background: linear-gradient(to bottom, #ffffff, #800080);
    display: flex;
    align-items: flex-end;
    gap: 70px;
    padding: 40px 20px;
    border-radius: 10px;
}
.title {
    font-size: 24px;
    margin-top: 10px;
    text-align: center;
    text-transform: uppercase;
}
.subtitle{
    font-size: 18px;
    margin-top: 10px;
    text-align: center;
    text-transform: uppercase;
    color: orange;
}
.intro__img {
    max-width: 300px;
    width: 100%;
}
.game-area__secret {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    list-style: none;
}
.game-area__secret .letter {
    width: 25px;
    border-bottom: 2px solid #000;
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: orange;
}
.guessed {
    background-color: transparent;
    margin: -35px 0 35px;
    color: orange;
}
.game-area__hint {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 15px;
}
.game-area__text {
    font-weight: 600;
}
.game-area__score {
    color: orange;
}
.game-area__keyboard {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
}
.game-area__keyboard button {
    width: calc(100% / 9 - 5px);
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    background-color: #5E63BA;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    padding: 8px;
    border: none;
}
.game-area__keyboard button:hover {
    background-color: #8286c9;
}
.game-area__keyboard button:disabled {
    opacity: 0.6;
    pointer-events: none;
}

.popup {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.6);
}
.popup__content {
    background-color: #fff;
    max-width: 480px;
    width: 100%;
    text-align: center;
    border-radius: 10px;
    padding: 25px;
}
.popup__img {
    width: 100%;
    max-width: 130px;
}
.popup__title {
    margin-bottom: 15px;
    font-size: 24px;
}
.popup__text {
    padding: 20px 0;
    font-weight: 400;
}
.popup__text b{
    color: #5E63BA;
    font-weight: 700;
}
.popup__btn {
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background-color: aquamarine;
    padding: 12px 23px;
}
.open {
    display: flex;
}

@media (max-width: 690px) {
    .title {
        font-size: 16px;
    }
    .subtitle {
        font-size: 12px;
    }
    .container {
        gap: 35px;
    }
    .game-area__keyboard button {
        width: calc(85% / 9 - 2px);
        font-size: 11px;
    }
    .game-area__hint {
        font-size: 14px;
    }
    .popup__content {
        max-width: 353px;
    }
  }
  @media (max-width: 465px) {
    .container {
        flex-direction: column;
        align-items: center;
        padding: 15px 20px;
    }
    .intro__img {
        max-width: 150px;
        width: 100%;
    }
  }